/* .hovers:hover{
    border: 2px solid black !important;
}

.hovers > img:hover{
    scale: .9;
} */



.hovers {
    &:hover + img {
        transform: scale(1.5) !important;
    }
}
img{
    /* transform: scale(1.5) !important; */
    transition: transform 330ms ease-in-out;
}